img {
    width: 400px;
}
body {
    text-align: center;
    font-family: "Georgia";
    background: azure;
    color: mediumslateblue;
}
header {
    background-color: lightgreen;
    margin: 50px;
}
div2 {
    color: black;
}
div3 {
    color:#77DD77;
}